<div class="card mb-3">
  <div class="card-header ">
    カテゴリ
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to 'タスクタイトル', task_path(1)%></h5>
    <p class="card-text">報酬</p>
  </div>
</div>

