<div class='container-fluid'>
  <div class='row mt-3 mb-1'>
    <div class='col'>
      <%= image_tag 'logo.png', size:'75x56', class:'text-start' %>
      <% if current_user.nil?%>
        誰もいないよ
      <% else %>
        <%= current_user.name %>がログイン中
      <% end %>
    </div>
    <div class='col text-end'>
      <%= link_to '使い方', tutorial_path, class: 'btn btn-light'%>
      <%= link_to 'サインアウト', signout_path, data: {turbo_method: :delete, turbo_confirm: 'サインアウトする？' }, class: 'btn btn-light' %>
    </div>
  </div>