@import "bootstrap";

@font-face {
  font-family: 'mitimasu';
  src: url('../fonts/mitimasu.ttf');
}

html{
  height: 100%;
}

body {
  font-family: 'mitimasu';
  height: 100%;
}

.h-full{
  height: 100%;
}

.h-50vh{
  height: 50vh;
}

.bg-soft{
  background-color: #E4F2FF;
}
