<!DOCTYPE html>
<html>
  <head>
    <title>WithTODO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <% unless @skip_header_footer %>
      あとでヘッダーおく
    <% end %>

    <%= yield %>

    <% unless @skip_header_footer %>
      あとでフッターおく
    <% end %>

  </body>
</html>